<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    body{
      position: relative;
    }
    div{
      width: 200px;
      height:200px;
      background: red;
      position: absolute;
      top:0;
      left:50px;
    }
    button{
      position: absolute;
      top:250px;
    }
  </style>
</head>
<body>
  <div></div>
  <button>点击缓动</button>
  <script>
    // 先引入Tween.js就引入一个动画,用哪个引入哪个呵
    var Tween = {
        Linear: function(t,b,c,d){ return c*t/d + b;} 
      };
      var btn = document.getElementsByTagName("button")[0];
      var div = document.getElementsByTagName("div")[0];
    var t = 0;
      var b = 200;
      var c = 200;
      var d = 200;
      var speed = 1;
      btn.onclick = function(){
        function sport(){
          //每次运行函数使t的值增加speed
          t += speed;
          //当t追赶到d之后
          if(t == d){
            clearInterval(timer);
          }
          div.style.left = Tween.Linear(t,b,c,d) + "px";
        }
        var timer = setInterval(sport,10);
      }
  </script>
</body>
</html>